body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: orange;
    opacity: 0;
    animation: 8s anim forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim {
 to{
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);

 }   
}

h3{
    text-align: center;
    font-size: 10rem;
    color: rgba(128, 128, 128, 0.699);
}